body
{
background-color: rgb(164,120,38);
text-align:center;
list-style-position: inside;
}
header
{
  font:bold;
}
main
{
 font-size:18;
}
footer
{
 font-size:12;
}
h1
{
 font-size:45px;
 font:bold;
}
h2
{
 font-size:30px;
}
h3
{
 font-size:20px;
 font:bold;
}
ul
{
  text align:left;
  display: table;
}
#wantedlist
{
font-size:20px;
float:  right;
}
