body
{
background-color: rgb(164,120,38);
text-align:center;
}
header
{
  font-size:25px;
  font:bold;
}
main
{
 font-size:18;
}
footer
{
 font-size:12;
}
h1
{
 font-size:40px;
 font:bold;
}
h3
{
 font-size:20px;
 font:bold;
}
#wantedlist
{
font-size:20px;
float:  right;
}
